# Python
__pycache__/
*.py[cod]

# Environnements virtuels
.venv/
venv/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Fichiers de données brutes
Data/Raw/

# Modèles
models/

# Logs
*.log
